body {
    background-color: aqua;
}

h1 {
    border: 1px solid black;    
    text-align: center;
    border-radius: 10px;
    background-color: pink;
}

div {
	border: 1px solid gray;
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
}